.main {
  text-align: center;
}
body{
  background-color:peachpuff ;
}
.aa{
  color: brown;
 
}
img{
  
  width: 50%;
  height: 50%;
  ;
}
.bb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}



